.nav {
  display: flex;
  flex-direction: column;
  position: relative;
}

.navList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.navItem {
  display: flex;
  position: relative;
  width: 50px;
  height: 50px;
}

.navItem:active {
  scale: 1.5;
}

.assistantBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border: none;
  background-color: transparent;
}

.link svg,
.assistantBtn svg {
  width: 50px;
  height: 50px;
}

.link:hover {
  scale: 1.5;
}

.active {
  scale: 1.5;
}

.react-icons {
  size: 1.3rem;
}
