.nav {
  display: flex;
  gap: 20px;
}

.link {
  padding: 10px;
  background-color: #f1f1f1;
  color: black;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.active {
  color: orange;
}
