.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 20px 15px;
  background-color: rgba(128, 128, 128, 0.696);
  border: 1px solid black;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
