.footer {
  width: 100%;
  padding: 0 30px 0 100px;
  background-color: transparent;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 15px 20px;
}
